<div class="content">
	<div class="page">
	<h2>BabyTennisについて</h2>
		<div class="about">
			<div class="para first">
				<h3>サイトの概要</h3>
				<p><strong>BabyTennis（ベイビーテニス）は一緒にテニスをするテニス仲間を探す投稿型のコミュニティサイトです。</strong><br>
				テニスをしたい時に日時と場所などの必要事項を記入し（定型フォーマットあり）、参加者を募ります。<br>
				参加希望者は参加したいテニスイベントを探し、希望に合うものが見つかれば参加ボタンを押して参加表明をします。

				<p><strong><span style="color: #00ccff;">テニスイベントを作成・投稿したり、イベントに参加するのが難しい人でも、掲示板で気軽に情報交換をすることができます。</span></strong>

				<p>掲示板は３種類あります。
				<h4>⑴雑談</h4>
				<p><strong>雑談用なのでテーマはなんでもいいです。</strong><br>暇な時にでも使ってください。
				<h4>⑵情報交換</h4>
				<p><strong>テニスに関する情報交換用の掲示板です。</strong><br>テニススクールについてだったり、コートだったり、ラケットだったり、テニスに関することならなんでもいいです。<br>
				テニスに関する情報交換が気軽にできる場になってくれたら嬉しいです。
				<h4>⑶テニス日記</h4>
				<p>テニスに関する日記です。<br>
				「今日どこどこで友達とテニスをした。楽しかった！」<br>
				こんな感じでオッケーです！<br>
				Twitterやfacebook、Instagramみたいに好きに書いてください。<br><br></p>

				<p>ちなみにサイト名は<strong>勝木光先生の名作テニス漫画『<a href="https://www.amazon.co.jp/%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%E3%82%B9%E3%83%86%E3%83%83%E3%83%97%EF%BC%88%EF%BC%91%EF%BC%89-%E9%80%B1%E5%88%8A%E5%B0%91%E5%B9%B4%E3%83%9E%E3%82%AC%E3%82%B8%E3%83%B3%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%8B%9D%E6%9C%A8%E5%85%89-ebook/dp/B009KYCI5C/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=27YSLELBQ924V&keywords=%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%E3%82%B9%E3%83%86%E3%83%83%E3%83%97&qid=1563799395&s=books&sprefix=%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%2Csporting%2C326&sr=1-2">ベイビーステップ</a>』</strong>から取りました。<br>
				※某アイドルグループではありません。怒られたらタイトルは素直に変えます。（怒られないことを祈って）<br>
				ベイビーステップは素晴らしい作品なので、未読の方はぜひ読んでみてください。
			</div>
			<div class="para">
				<h3>サイトでできること</h3>
				<h4>テニス仲間を増やす</h4>
				<p>・自分でイベントを投稿して参加者を募集する<br>
				・他の人が投稿したイベントに参加する
				<h4>テニスに関する情報を集める</h4>
				<p>・情報交換用の掲示板で情報を探す<br>
				・情報交換用の掲示板で質問をする
				<h4>テニスに関する記録を残す</h4>
				<p>ダイアリー（テニス日記）で記録や感想を書く
				<h4>雑談</h4>
				<p>雑談用掲示板で暇をつぶす
				<h3>サイトの使い方</h3>
				<p>当サイトの使い方は<strong><a href="/how_to">こちら</a></strong>のページをご覧ください。
			</div>
			<div class="para last">
				<h3>サイトを作った動機</h3>
				<p>僕がこのサイトを作った理由。<br>
				それは、<br>
				<span style="font-size: 24px;"><strong>もっと気軽にテニスをしたい！</strong></span><br>
				と思ったから。

				<p>僕はテニスが好きです。<br>
				ですが、テニス部だったわけでもなくテニススクールも通ったことがありません。

				<p>月に１〜２回友達とコートを借りてラリーをしたりミニゲームをしてるくらいです。

				<p>で、もっとテニスがしたいと思った。<br>
				けどスクールに通うのはちょっと違う。

				<p><strong>もっと気楽なのがいい。</strong>

				<p>でネットで探しました。<br>
				そしたら社会人テニスサークルというのがあった。<br>
				<span style="color: #ff0000;">けどよく見たら募集は経験者のみで、初心者NGだった。</span>

				<p>頑張って探したら初心者可のテニスサークルが見つかりました。

				<p>ここなら行ける！

				<p>そう思ってそのサークルの活動に参加しました。

				<p>多分２０人くらいはいたと思います。<br>
				参加者は同年代の20代30代の男女でした。

				<p>前半は練習をして、後半はミニゲーム。

				<p>とても楽しかったです。<br>
				なので何度か参加しました。

				<p>そして２回目か３回目の参加の時、主催者の男性に声をかけられました。

				<p><span style="font-size: 24px;">「●●さん、ビジネスに興味ある？」</span>

				<p>え？

				<p>「僕、ビジネスやってるんだけど興味ない？」

				<p><span style="font-size: 24px;">もしかして、これって、ビジネスの勧誘ー？？？</span>

				<p>そうです。<br>
				<strong><span style="color: #ff0000;">その社会人テニスサークルは某ア●ウェイの勧誘目的のダミーサークルだったのです。</span></strong>

				<p>それ以降、僕はそのサークルに関わるのをやめました。

				<p>これは数年前のことで、それからテニスをする機会も減ってしまいましたが、<br>
				最近また友達とテニスを始めたのでこのサイトを作りました。

				<p>社会人になるとテニスをする機会はなかなかありません。<br>
				初心者ならなおさらです。<br>
				<span style="color: #ff0000;"><strong>やっと受け入れてもらえたと思ったら勧誘目的でした。</strong></span>

				<p>こんな苦い経験がこのサイトを作ろうと思った動機です。

				<p><span style="font-size: 24px;">初心者でももっと気軽にテニスがしたい！</span>

				<p><span style="font-size: 24px;">怪しい勧誘は受けたくない！！</span>

				<p><strong>そんな思いから、このテニスコミュニティサイトを作りました。</strong>

				<p>BabyTennisでは気軽にテニスのイベントを作成したり、イベントに参加することができます。

				<p>もちろん勧誘行為は禁止！

				<p>このサイトを使って、気軽にテニスライフを楽しんでください！

				<p>テニスで運動不足も解消して、日頃のストレスも発散です！

				<p>心身ともに健康になって、ご機嫌な人生を送りましょう！


			</div>
			<div class="para manage">
				<h3>運営</h3>
				<p><a href="https://twitter.com/babytennis_">BabyTennis公式アカウント</a></p>
			</div>

		</div>
		<div class="back">
			<a class="btn" href="/">TOPへ戻る</a>
	    </div>
	</div>
</div>