<div class="content">
	<div class="page">
	<h2>テニス関連リンク</h2>
		<div class="about">
			<div class="para links">

				<h3>テニス団体</h3>

				<ul>
					<li><a href="https://www.jta-tennis.or.jp/rankings/tabid/175/Default.aspx">日本テニス協会</a>
					<li><a href="https://www.kanto-tennis.com/index.htm">関東テニス協会</a>
					<li><a href="https://www.jpta.or.jp/">日本プロテニス協会</a>
					<li><a href="https://jtpu.org/">全日本男子プロテニス協会</a>
					<li><a href="http://www.jltf.org/">日本女子テニス連盟</a>
					<li><a href="https://www.atptour.com/">男子プロテニス協会</a>
					<li><a href="https://www.wtatennis.com/">女子テニス協会</a>
				</ul>
				<h3>テニス選手公式サイト</h3>
				<ul>
					<li><a href="https://www.keinishikori.com/">錦織圭公式サイト</a>
					<li><a href="https://lineblog.me/datekimiko/">伊達公子オフィシャルブログ</a>
					<li><a href="https://www.naomiosaka.com/">大阪なおみ公式サイト</a>
					<li><a href="http://www.shuzo.co.jp/">松岡修造オフィシャルサイト</a>

				</ul>
				<h3>テニス関連書籍</h3>
				<ul>
					<li><a href="https://www.amazon.co.jp/%E3%83%97%E3%83%AC%E3%83%BC%E3%81%8C%E5%A4%89%E3%82%8F%E3%82%8B%E4%BD%93%E3%81%AE%E9%8D%9B%E3%81%88%E6%96%B9-%E8%87%AA%E5%88%86%E3%81%A7%E3%81%A4%E3%81%8F%E3%82%8B-%E3%83%86%E3%83%8B%E3%82%B9%E7%AD%8B%E5%8A%9B-PERFECT-LESSON/dp/440833832X/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793394&s=books&sr=1-1">超常識! プレーが変わる体の鍛え方 自分でつくる テニス筋力 (PERFECT LESSON BOOK)</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%86%E3%83%8B%E3%82%B9%E4%B8%B8%E3%81%94%E3%81%A8%E4%B8%80%E5%86%8A%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9-%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AA%E3%82%8B%E3%81%BB%E3%81%A9%E3%83%AC%E3%83%83%E3%82%B9%E3%83%B3-Tennis-Magazine-extra/dp/4583101767/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793394&s=books&sr=1-2">テニス丸ごと一冊サービス テニスなるほどレッスン (Tennis Magazine extra)</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%86%E3%83%8B%E3%82%B9%E3%83%80%E3%83%96%E3%83%AB%E3%82%B9-%E5%8B%9D%E3%81%A6%E3%82%8B%E3%83%9D%E3%82%B8%E3%82%B7%E3%83%A7%E3%83%8B%E3%83%B3%E3%82%B0%E3%83%BB%E6%B1%BA%E3%81%BE%E3%82%8B%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88-%E5%AD%A6%E7%A0%94%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E6%A9%8B%E7%88%AA-%E5%AE%8F%E5%B9%B8/dp/4058010207/ref=sr_1_6?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793394&s=books&sr=1-6">テニスダブルス　勝てるポジショニング・決まるショット (学研スポーツブックス) </a>
					<li><a href="https://www.amazon.co.jp/%E5%8B%9D%E3%81%A6%E3%82%8B-%E7%90%86%E7%B3%BB%E3%81%AA%E3%83%86%E3%83%8B%E3%82%B9-%E7%89%A9%E7%90%86%E3%81%A7%E8%A8%BC%E6%98%8E-9%E5%89%B2%E3%81%AE%E4%BA%BA%E3%81%8C%E9%96%93%E9%81%95%E3%81%88%E3%81%A6%E3%81%84%E3%82%8B%E2%80%9C%E5%B8%B8%E8%AD%98-%E7%94%B0%E4%B8%AD%E4%BF%A1%E5%BC%A5/dp/4809415260/ref=sr_1_11?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793394&s=books&sr=1-11">勝てる! 理系なテニス 物理で証明! 9割の人が間違えている“常識" </a>
					<li><a href="https://www.amazon.co.jp/%E3%83%86%E3%83%8B%E3%82%B9%E3%83%AF%E3%83%B3%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E3%83%AC%E3%83%83%E3%82%B9%E3%83%B3500-GAKKEN-SPORTS-BOOKS-T-Tennis%E7%B7%A8%E9%9B%86%E9%83%A8/dp/4054040861/ref=sr_1_15?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793394&s=books&sr=1-15">テニスワンポイントレッスン500 (GAKKEN SPORTS BOOKS)</a>
					<li><a href="https://www.amazon.co.jp/%E5%BF%83%E3%82%92%E5%BC%B7%E3%81%8F%E3%81%99%E3%82%8B-%E3%80%8C%E4%B8%96%E7%95%8C%E4%B8%80%E3%81%AE%E3%83%A1%E3%83%B3%E3%82%BF%E3%83%AB%E3%80%8D50%E3%81%AE%E3%83%AB%E3%83%BC%E3%83%AB-%E3%82%B5%E3%83%BC%E3%82%B7%E3%83%A3%E3%83%BB%E3%83%90%E3%82%A4%E3%83%B3/dp/4864106975/ref=sr_1_29?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563793996&s=books&sr=1-29">心を強くする 「世界一のメンタル」50のルール </a>
					<li><a href="https://www.amazon.co.jp/%E6%9D%BE%E5%B2%A1%E4%BF%AE%E9%80%A0%E3%81%AE%E4%BA%BA%E7%94%9F%E3%82%92%E5%BC%B7%E3%81%8F%E7%94%9F%E3%81%8D%E3%82%8B83%E3%81%AE%E8%A8%80%E8%91%89-%E6%9D%BE%E5%B2%A1-%E4%BF%AE%E9%80%A0/dp/4776206773/ref=pd_sbs_14_3/356-6304821-5542956?_encoding=UTF8&pd_rd_i=4776206773&pd_rd_r=73d3d858-74d3-406f-867b-d10560eab429&pd_rd_w=v7l7b&pd_rd_wg=4NYSS&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=0FTGD5T0S7XAV7QW7PZS&psc=1&refRID=0FTGD5T0S7XAV7QW7PZS">松岡修造の人生を強く生きる83の言葉</a>
					<li><a href="https://www.amazon.co.jp/%E3%81%AA%E3%81%9C%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AF%E7%B7%B4%E7%BF%92%E3%81%97%E3%81%A6%E3%82%82%E4%B8%8A%E6%89%8B%E3%81%8F%E3%81%AA%E3%82%89%E3%81%AA%E3%81%84%E3%81%AE%E3%81%8B-%E2%80%95%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81%E3%82%84%E9%8C%A6%E7%B9%94%E5%9C%AD%E3%81%AF%E7%9F%A5%E3%81%A3%E3%81%A6%E3%81%84%E3%82%8B-%E5%85%90%E7%8E%89%E5%85%89%E9%9B%84/dp/4809413535/ref=sr_1_44?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9&qid=1563794079&s=books&sr=1-44">なぜテニスは練習しても上手くならないのか ―ジョコビッチや錦織圭は知っている</a>
					<li><a href="https://www.amazon.co.jp/%E5%AE%9F%E3%81%AF180%E5%BA%A6%E9%81%95%E3%81%86%E4%B8%80%E6%B5%81%E3%83%86%E3%83%8B%E3%82%B9%E9%81%B8%E6%89%8B%E3%81%AE%E6%80%9D%E8%80%83-%E5%85%90%E7%8E%89%E5%85%89%E9%9B%84/dp/4809412709/ref=pd_sbs_14_9?_encoding=UTF8&pd_rd_i=4809412709&pd_rd_r=b81bcb61-3e3a-4984-aba2-2694b512b5eb&pd_rd_w=WF3s3&pd_rd_wg=3AviY&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=GXW6ADTZPYHNC1BMQK8D&psc=1&refRID=GXW6ADTZPYHNC1BMQK8D">実は180度違う一流テニス選手の思考 </a>
					<li><a href="https://www.amazon.co.jp/%E9%A0%82%E7%82%B9%E3%81%B8%E3%81%AE%E9%81%93-%E9%8C%A6%E7%B9%94-%E5%9C%AD/dp/4163902511/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%8C%A6%E7%B9%94%E5%9C%AD&qid=1563794460&s=books&sr=1-1">頂点への道</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%A9%E3%83%95%E3%82%A1%E3%82%A8%E3%83%AB%E3%83%BB%E3%83%8A%E3%83%80%E3%83%AB-%E8%87%AA%E4%BC%9D/dp/4408453579/ref=pd_sbs_14_3/356-6304821-5542956?_encoding=UTF8&pd_rd_i=4408453579&pd_rd_r=6f90ea58-b63e-46fd-9299-05c4157ca6db&pd_rd_w=22JIy&pd_rd_wg=hlJFi&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=AH40X0G5E5EXR2EDB0CN&psc=1&refRID=AH40X0G5E5EXR2EDB0CN">ラファエル・ナダル 自伝</a>
					<li><a href="https://www.amazon.co.jp/%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81%E3%81%AE%E7%94%9F%E3%81%BE%E3%82%8C%E5%A4%89%E3%82%8F%E3%82%8B%E9%A3%9F%E4%BA%8B-%E3%83%8E%E3%83%90%E3%82%AF%E3%83%BB%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81/dp/4883206335/ref=pd_sbs_14_4/356-6304821-5542956?_encoding=UTF8&pd_rd_i=4883206335&pd_rd_r=0c902d53-20c9-4664-b618-e86c0494d827&pd_rd_w=l1heZ&pd_rd_wg=zLuBq&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=VMJQFRQHP90PBDKA63EA&psc=1&refRID=VMJQFRQHP90PBDKA63EA">ジョコビッチの生まれ変わる食事 </a>
					<li><a href="https://www.amazon.co.jp/%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81%E3%81%AE%E7%94%9F%E3%81%BE%E3%82%8C%E5%A4%89%E3%82%8F%E3%82%8B%E9%A3%9F%E4%BA%8B-%E6%96%B0%E8%A3%85%E7%89%88-%E3%83%8E%E3%83%90%E3%82%AF%E3%83%BB%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81/dp/4594079679/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=7U90SC1NFL5T&keywords=%E3%82%B8%E3%83%A7%E3%82%B3%E3%83%93%E3%83%83%E3%83%81&qid=1563794740&s=books&sprefix=joko%2Cstripbooks%2C296&sr=1-1">ジョコビッチの生まれ変わる食事 新装版</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%83%A3%E3%83%BC%E3%83%BB%E3%83%95%E3%82%A7%E3%83%87%E3%83%A9%E3%83%BC-FEDEGRAPHICA-%E3%83%9E%E3%83%BC%E3%82%AF-%E3%83%9B%E3%82%B8%E3%82%AD%E3%83%B3%E3%82%BD%E3%83%B3/dp/449103236X/ref=pd_sbs_14_1/356-6304821-5542956?_encoding=UTF8&pd_rd_i=449103236X&pd_rd_r=0c902d53-20c9-4664-b618-e86c0494d827&pd_rd_w=l1heZ&pd_rd_wg=zLuBq&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=VMJQFRQHP90PBDKA63EA&psc=1&refRID=VMJQFRQHP90PBDKA63EA">ロジャー・フェデラー (FEDEGRAPHICA)</a>
					<li><a href="https://www.amazon.co.jp/%E5%A5%87%E8%B7%A1%E3%82%92%E5%91%BC%E3%81%B6%EF%BC%81-%E7%84%A1%E6%95%B5%E3%81%AE%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E3%83%A1%E3%83%B3%E3%82%BF%E3%83%AB-%E3%81%A9%E3%82%93%E3%81%AA%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E3%82%B7%E3%83%BC%E3%83%B3%E3%81%A7%E3%82%82%E6%88%90%E6%9E%9C%E3%82%92%E3%81%82%E3%81%92%E3%82%8B%E3%83%A1%E3%83%B3%E3%82%BF%E3%83%AB%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0-%E5%8A%A0%E8%97%A4-%E5%8F%B2%E5%AD%90/dp/4909745300/ref=sr_1_9?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E5%A4%A7%E9%98%AA%E3%81%AA%E3%81%8A%E3%81%BF&qid=1563794840&s=books&sr=1-9">奇跡を呼ぶ！　無敵のスポーツメンタル　どんなスポーツシーンでも成果をあげるメンタルトレーニング</a>

				</ul>
				<h3>テニス漫画</h3>
				<ul>
					<li><a href="https://www.amazon.co.jp/%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%E3%82%B9%E3%83%86%E3%83%83%E3%83%97%EF%BC%88%EF%BC%91%EF%BC%89-%E9%80%B1%E5%88%8A%E5%B0%91%E5%B9%B4%E3%83%9E%E3%82%AC%E3%82%B8%E3%83%B3%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%8B%9D%E6%9C%A8%E5%85%89-ebook/dp/B009KYCI5C/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=23MA6F91ICGDU&keywords=%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%E3%82%B9%E3%83%86%E3%83%83%E3%83%97&qid=1563794990&s=books&sprefix=%E3%83%99%E3%82%A4%E3%83%93%E3%83%BC%2Cstripbooks%2C340&sr=1-2">ベイビーステップ（１） (週刊少年マガジンコミックス)</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AE%E7%8E%8B%E5%AD%90%E6%A7%98-1-%E3%82%B8%E3%83%A3%E3%83%B3%E3%83%97%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9DIGITAL-%E8%A8%B1%E6%96%90%E5%89%9B-ebook/dp/B009PL841W/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AE%E7%8E%8B%E5%AD%90%E6%A7%98+1&qid=1563795178&s=digital-text&sr=1-1">テニスの王子様 1 (ジャンプコミックスDIGITAL)</a>
					<li><a href="https://www.amazon.co.jp/%E6%96%B0%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AE%E7%8E%8B%E5%AD%90%E6%A7%98-1-%E3%82%B8%E3%83%A3%E3%83%B3%E3%83%97%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9DIGITAL-%E8%A8%B1%E6%96%90%E5%89%9B-ebook/dp/B009PL86JM/ref=sr_1_4?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E6%96%B0%E3%83%86%E3%83%8B%E3%82%B9%E3%81%AE%E7%8E%8B%E5%AD%90%E6%A7%98&qid=1563795240&s=digital-text&sr=1-4">新テニスの王子様 1 (ジャンプコミックスDIGITAL)</a>
				</ul>
				<h3>低下価格帯テニスラケット</h3>

				<ul>
					<li><a href="https://www.amazon.co.jp/WILSON-%E3%82%A6%E3%82%A3%E3%83%AB%E3%82%BD%E3%83%B3-WIMNE-%E7%A1%AC%E5%BC%8F%E3%83%86%E3%83%8B%E3%82%B9%E3%83%A9%E3%82%B1%E3%83%83%E3%83%88-WRT3116002/dp/B079VGB4SB/ref=sr_1_4?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9%E3%83%A9%E3%82%B1%E3%83%83%E3%83%88&qid=1563795583&s=sports&sr=1-4">Wilson(ウイルソン) 硬式 テニスラケット ENERGY XL (エナジー XL) </a>
					<li><a href="https://www.amazon.co.jp/dp/B07D61C1ML/ref=psdc_15314931_t1_B07B41FJZM">Wilson(ウイルソン) 硬式 テニスラケット MONFILS OPEN 103 (モンフィスオープン103) </a>
					<li><a href="https://www.amazon.co.jp/%E3%83%A8%E3%83%8D%E3%83%83%E3%82%AF%E3%82%B9-YONEX-%E3%82%B0%E3%83%A9%E3%83%95%E3%83%AC%E3%83%83%E3%82%AF%E3%82%B9-%E3%80%90%E3%82%AC%E3%83%83%E3%83%88%E5%BC%B5%E3%82%8A%E4%B8%8A%E3%81%92%E6%B8%88%E3%80%91-RQGRC2G/dp/B07B41FJZM/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%86%E3%83%8B%E3%82%B9%E3%83%A9%E3%82%B1%E3%83%83%E3%83%88&qid=1563797885&refinements=p_n_price_fma%3A401078011%2Cp_89%3AYONEX%28%E3%83%A8%E3%83%8D%E3%83%83%E3%82%AF%E3%82%B9%29&rnid=2321255051&s=sports&sr=1-1">ヨネックス(YONEX) 硬式テニス ラケット RQ グラフレックス COMP2 入門用 </a>
				</ul>
				<h3>テニスシューズ</h3>
				<ul>
					<li><a href="https://www.amazon.co.jp/%E3%83%8B%E3%83%A5%E3%83%BC%E3%83%90%E3%83%A9%E3%83%B3%E3%82%B9-%E3%83%86%E3%83%8B%E3%82%B9%E3%82%B7%E3%83%A5%E3%83%BC%E3%82%BA-%E3%83%A1%E3%83%B3%E3%82%BA-MCH896/dp/B07D5F8P3H/ref=pd_sbs_309_4/356-6304821-5542956?_encoding=UTF8&pd_rd_i=B07D5F8P3H&pd_rd_r=4aab7a7e-5163-4b9c-a94f-34babddd2c3c&pd_rd_w=PWOQo&pd_rd_wg=3cW60&pf_rd_p=ad2ea29d-ea11-483c-9db2-6b5875bb9b73&pf_rd_r=TXGDQDFMMFQEJHNDK744&refRID=TXGDQDFMMFQEJHNDK744">[ニューバランス] テニスシューズ MCH896 オールコート用 (現行モデル) メンズ</a>
					<li><a href="https://www.amazon.co.jp/dp/B07KJ3NZZL/ref=sspa_dk_detail_0?psc=1">[アシックス] テニスシューズ COURT SLIDE オールコート メンズ</a>
					<li><a href="https://www.amazon.co.jp/%E3%83%A8%E3%83%8D%E3%83%83%E3%82%AF%E3%82%B9-%E3%83%86%E3%83%8B%E3%82%B9%E3%82%B7%E3%83%A5%E3%83%BC%E3%82%BA-POWER-CUSHION-FUSIONREV/dp/B07HKDC8N7/ref=pd_rhf_dp_s_pd_crcbs_0_2/356-6304821-5542956?_encoding=UTF8&pd_rd_i=B07HKDC8N7&pd_rd_r=4402fef3-700e-4f76-ac6e-69cd315097f5&pd_rd_w=KTc6s&pd_rd_wg=ktFsN&pf_rd_p=7b5af70b-6fed-49ac-b29e-a6d95761a321&pf_rd_r=XRVPZKXZWZR1BRZJ7ZCD&refRID=XRVPZKXZWZR1BRZJ7ZCD">[ヨネックス] テニスシューズ POWER CUSHION FUSIONREV 3 MEN GC</a>
				</ul>


			</div>


		</div>
		<div class="back">
			<a class="btn" href="/">TOPへ戻る</a>
	    </div>
	</div>
</div>