/* @group Contents */

.event_new_frame {
	width: 98%;
	border: 3px solid #BBB;
	border-radius: 2px;
	margin: 0 auto 20px;
	background-color: #FFFFEE;
}

.event_new {
	width: 96%;
	margin: 0 auto;
    h2 {
    font-size: 20px;
    text-align: center;
    color:#0066FF;
    margin-top: 3px;
    }
    form input[type="submit"] {
    width: 100%;
    margin: 5px auto 10px;

    }
    p {
    margin: 2.5px 0;
    }
}

.eve_show {
    input[type="submit"]:disabled {
        background-color: #ffddbc;    
    }
}

/* @end */

/*768px*/
@media screen and (min-width : 768px){

/* @group Contents */

.event_new_frame {
    width: 66%;
    }
.event_new {
    width: 76%;
    }
/* @end */
}

/*1024px*/
@media screen and (min-width : 1024px){

/* @group Contents */

.event_new_frame {
    width: 48%;
    }
.event_new {
    width: 64%;
    }
/* @end */
}
