
// ヘッダー
header #title {
	background-color: #0066FF;
	a {
	color: #FFF;
	}
}

// ナビ
nav {
	background-color: #DDD;
}


// 変数
$accent: #57C3E9;


// 画像
.image {
	height: 400px;
	width: 540px;
}



// 投稿
.content_post {
	border: 2px solid #888;
	margin: 2.5px 0;
}

.post {
	border: 2px solid #888;
	margin: 2.5px 0;
}

.comments {
	border: 2px solid #888;
	margin: 2.5px 0;
}

// ユーザー
.profile {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

.my_events {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

.join_events {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

.co_events {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

.user_comments {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

.user_comment {
	margin: 10px 0;
	border-bottom: 2px solid #888;
}

// ボタン
.btn {
	width: 140px;
    font-size: 20px;
    border: 2px solid $accent;
    color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}

// フラッシュ
.alert {
	text-align: center;
}
.alert-success {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
}
 
.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
}
