// 変数
$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$blue: #0066FF;
$orange: #FF9900;
$purple: #660099;

// ヘッダー

header {
    position: fixed;
    width: 100%;
    h1 {
	  text-align: center;
	  margin: 0 auto;
      width: 100%;
      height: 48px;
      background-color: #0066FF;
	}
}

h2 {
	font-size: 35px;

}

a {
  text-decoration: none;
  color: $purple;
  &:hover {
    color: $accent;
  }
}

img {
  object-fit: cover; 
}

.midle {
	font-size: 20px;
	display: inline-block;
}

.small {
	font-size: 14px;
}
.name {
	display: inline-block;
	width: 230px;

	padding: 0 auto;
	text-align: center;
    height: 25px;

}
.erea {
    display: inline-block;
	width: 70px;
	height: 21px;
	padding-top: 2px;
	overflow: hidden!important;
}

.frame {
	border: 2px solid #888;
	border-radius: 3px;
	background-color: #FFF;
	margin: 30px auto;
	width: 500px;
	min-height: 200px;
	text-align: center;
	padding: 20px 0;
	h2 {
	color: $orange;
	margin-bottom: 5px;
	}
	.btn {
	margin-top: 10px;
	color: #666666;
	border-color: #666666;
	background-color: #EEE;
  &:hover {
    background-color: #666666;
    color: #FFFFFF;
    border-color: #666666;
  }
	}
}

#title a {
text-decoration: none;
color: #FFF;
display: inline-block;
height: 48px;
}

// ナビ
#nav {
	background-color: #33CC66;
	height: 40px;
	width: 100%;
	.nav {
	float: left;
	margin-left: 155px;
	}
	.user {
	float: right;
	right: 10px;
	margin-right: 155px;
	}
	a {
	text-decoration: none;
    color: #009966;
	}
}
.nav_btn {
	border: 0.5px solid #009966;
	background-color: #FFFF99;
	font-weight: bold;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin-top: 7px;
    width: 105px;
  &:hover {
    background-color: #FFFFFF;
  }
}

#main {
	padding-top: 88px;
	background-color: #DDFFFF;
}

#footer {
	background-color: #0066FF;
	height: 30px;
	padding-top: 10px;
}

// インデックス

.contents{
	padding-top: 0;
}

.main {
  padding-top: 10px;
  margin: 0 auto;
  width: 800px;

}

#post {
    margin-top: 20px;
    margin-right: 60px;
	float: right;
}

.post_btn {
	border: 2px solid #0066FF;
	background-color: #0066FF;
	font-weight: bold;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    margin-top: 7px;
    width: 120px;
    color: #FFF;
  &:hover {
    border-color: lighten(#0066FF, 15%);
    background-color: lighten(#0066FF, 15%);
  }
}

#search {
	float: left;
	margin-top: 5px;
	margin-left: 60px;
}

.content_posts {
	width: 680px;
	margin: 0 auto;
	padding-top: 80px;
}

// 投稿
.content_post {
	border: 2px solid #AAA;
	background-color: #FFF;
	height: 240px;
	margin: 10px;
	padding: 30px 0px 30px 25px;
	border-radius: 6px;
	.name {
	width: 100px;
	word-wrap: break-word;
	}
	p {
	font-size: 18px;
	padding-top: 6px;
	line-height:28px;
	border-bottom: 1.25px solid #777;
	}
}

.post_user p {
	border-bottom: none;
} 

.data {
	font-weight: bold;
}
.big {
	height: 150px;
	min-width: 500px;
	max-width: 545px;
	margin: 0 auto;

}
.post_user {
	float: left;
	clear: both;
	margin-right: 30px;
	p {
	padding-top: 0;
	height: 30px;
	}
	img {
	border-radius: 7px;
	}
}
.post_contain {
	float: left;
	margin-right: 30px;
	width: 220px;
	p {
	width: 220px;
	height: 35px;
	overflow: hidden;
	}
}
.sub_contain {
	float: left;
}

.more {
	width: 330px;
	margin: 0 auto;
    font-size: 20px;
	clear: both;
	font-weight: bold;
    text-align: center;
    background-color: #FF9900;
    border-radius: 3px;
    a {
    color: #FFF;
    display: inline-block;
    width: 100%;
    }
    &:hover {
	    background-color: $accent;
	  }
}

// 完了

.success {
	height: 200px;
	width: 400px;
	margin: 30px auto;
	h2 {
	text-align: center;
	padding: 0 30px;
	}
}
.success .btn {
	width: 250px;
	margin: 35px 75px;
}

// ボタン

.btn_mo {
	width: 360px;
	margin: 0 auto;
    font-size: 20px;
	font-weight: bold;
    text-align: center;
    background-color: #FF9900;
    border-radius: 3px;
    color: #FFF;
    &:hover {
	    background-color: $accent;
	  }
}

// イベント詳細

.content {
	padding-top: 20px;
	overflow: scroll;

    height: calc(100vh - 115px);
}

.eve_show {
	margin: 0 auto;
	width: 800px;
	h2 {
	text-align: center;
	margin-bottom: 15px;
	color: 	$blue;
	}
}

.post {
	border: 2px solid #888;
	margin: 2.5px auto;
	min-height: 490px;
	width: 600px;
	padding: 25px 35px 40px;
	background-color: #FFF;
	p {
	border-bottom: 1px solid #BBB;
	}
	.check {
	width: 500px;

    }
	.edit {
	padding-top: 10px;
	text-align: right;
	}
}

.checkbtn {
	margin: 15px 0 0 15px;
	width: 80px;
	background-color: $accent;
	border-radius: 3px;
	color: #FFF;
	  &:hover {
	    background-color: #FF9900;
	  }
}

.editbtn {
	background-color: #888;
	display: inline-block;
	width: 50px;
	text-align: center;
	border-radius: 3px;
	color: #FFF;
}

.postbtn {
	width: 500px;
	margin: 20px auto 0;
	text-align: center;
}

.commbtn {
	width: 600px;
	margin: 2.5px auto 10px;
	text-align: center;
}

// コメント

.comments {
    padding: 25px 35px;
	border: 2px solid #888;
	margin: 2.5px auto;
	width: 600px;
	background-color: #FFF;
	.comment {
		border-bottom: 2px solid #888;
		margin-top: 20px;
		margin-bottom: 10px;
		.comimg {
            float: left;
            margin-right: 10px;
            img {
            	border-radius: 3px;
            }
		}
		.comtxt {
		    float: left;
		    width: 420px;
		    word-wrap: break-word;
		    .name {
		    text-align: left;

		    }
			p {
			    border-top: 1px solid #BBB;

				padding-top: 10px;
				clear: both;
			}
			.editbtn {
				width: 170px;
			}
			ul {
				li {
					width: 170px;
					margin-right: 78px;
				    float: left;
					list-style: none;
				}
			}

		}
	}
}

.comment:after {
	content: "";
	clear: both;
	display: block;
}

.comment p:last-child {
	border-top: none;
}

.comtxt ul li:last-child {
	margin-right: 0!important;
}

.back {
	width: 600px;
	margin: 10px auto;

	.btn {
	width: 180px;

	}
}

// グループ
.group_back {
    width: 600px;
    text-align: center;
    margin: 0 auto;
	.btn {
	width: 230px;
	margin: 0 auto;
	}
}

// 入力フォーム
.form-group {
    margin-top: 10px;
	.form-control {
	border: 1px solid #888;
	background-color: #fff;
	}
	.len {
	width: 465px;
	}
}

// 画像
.image {
	height: 400px;
	width: 540px;
}

.pro_img {
	img {
	border-radius: 7px;
	}
}

// ユーザー
// マイページ
.user_show {
	width: 800px;
	margin: 0 auto;
	h2 {
	color: $orange;
	width: 800px;
	word-wrap: break-word;
	}
}

.profile {
	margin: 10px 0 20px;
    height: 200px;
	background-color: #fff;
	border: 2px solid #888;
    padding: 20px 30px;
    overflow: scroll;
    clear: both;
	.pro_img {
		float: left;
		margin-right: 20px;
		img {
		border-radius: 7px;
		}
	}
	.pro_txt {
		float: left;
		width: 600px;

		p {
		border-bottom: 1px solid #888;
		}
	}
}

// ボタン
.btn {
	width: 140px;
    font-size: 20px;
    border: 2px solid $accent;
    color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}



.edi_btn {
	width: 140px;
    font-size: 20px;
    border: 2px solid $accent;
    color: #FFF;
    background-color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    background-color: lighten($accent, 15%);
  }
}

// フラッシュ

.alert {
	text-align: center;
}
.alert-success {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
}
 
.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
}

// 検索

.search{
  box-sizing: border-box;

}
.search input[type="text"]{
  background: #ccddf5;
  border: none;
  height: 2.0em;
}
.search input[type="text"]:focus {
  outline: 0;
}
.search input[type="submit"]{
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  outline : none;
  height: 2.2em;
  width: 85px;
}
.search ::-webkit-input-placeholder {
  color: #3879D9;
}

.result {
	h3 {
	text-align: center;
	}
	.pagination {
	padding-top: 0;
	}
	.content {
	height: calc(90vh - 190px);
	}
	.btn {
	margin: 10px 0;
	}
}

	

// サインアップ・サインイン
.sign {
	width: 450px;
	margin: 0 auto;
}

#sign {
  padding: 30px 30px 35px;
  width: 600px;
  margin: 100px auto;
  min-height: 350px;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: #FFF;
  h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bald;
  font-size: 20px;
  color: #666666;
  }
  p {
  color: #666666;
  padding: 20px 0 5px;
  }
  form {
  width: 450px;
  margin: 10px auto;
  
  }
  input,textarea {
    background-color: #FFFFEE;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  input[type="submit"] {
    margin: 10px 0;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 25px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}

#pass {
  padding: 30px 30px 35px;
  width: 600px;
  margin: 100px auto;
  min-height: 230px;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: #FFF;
  h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bald;
  font-size: 20px;
  color: #666666;
  }
  p {
  color: #666666;
  padding: 20px 0 10px;
  }
  form {
  width: 450px;
  margin: 20px auto;
  
  }
  input,textarea {
    background-color: #FFFFEE;
    margin: 10px 0 0px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    margin: 30px 0 10px;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 20px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}


.check {
	white-space: nowrap;
	display: inline;
}

.check_box {
width: 10px;
display: inline;
}


// イベント投稿
.row {
	padding-top: 100px;
}

// 掲示板

.room {
	    width: 600px;
	    margin: 0 auto;
		h2 {
			text-align: center;
			padding-bottom: 5px;
		}
		#search {
			margin: 0  0 10px 0;
			clear: both;
		}
		.comments {
			.comment {
				text-align: left;
			}
		}
		.commbtn {
		    clear: both;
		}
		.name {
			height: 22px;
		}
		input {
			margin: 10px;
		}
		.room_rule {
		p {
		  text-align: center;
		  margin: 0 0 20px;
		}
		}
}


.info_result {
	.comments {
	margin-top: 100px;
	}
	h3 {
	text-align: center;
	}
}
