// 変数
$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$blue: #0066FF;
$orange: #ff962d;
$purple: #660099;

// ユーザー
// マイページ
.user_show {
  width: 800px;
  margin: 0 auto;
  h2 {
  color: #ff7f00;
  width: 800px;
  word-wrap: break-word;
  }
}

.profile {
  margin: 10px 0 30px;
    height: 200px;
  background-color: #fff;
  border: 2px solid #888;
    padding: 20px 30px;
    overflow: scroll;
    clear: both;
  .pro_img {
    float: left;
    margin-right: 20px;
    img {
    border-radius: 7px;
    }
  }
  .pro_txt {
    float: left;
    width: 600px;

    p {
    border-bottom: 1px solid #888;
    }
  }
}

.events .data {
  color: $blue;
}

.events {
  .midle {
  height: 25px;
  margin: 10px 0 0px;
  }
}


.pagination {
  padding-top: 10px;
}

.edit {
  float: right;
  clear: both;
  color: #660099;
}

.user_show {
  h2 {
    margin-bottom: 30px;
    font-size: 80px;
    width: 1030px;
    letter-spacing: -0.05em;
  }
  .midle {
  font-size: 18px;
  width: 620px;
  word-wrap: break-word;
  }
  h3 {
  color: #fff;
  font-size: 22px;
  padding: 4px 0 0 0px;
  text-align: center;
  background-color: #33CC66;
  height: 40px;
  }
  h4 {
  color: #0066FF;
  }
  .under_line {
  display: inline-block;
  width: 230px;
  height: 23px;
  margin-bottom: 15px;
  }
}

.my_events {
  width: 800px;
  margin: 0px 0px 0px;
  border-bottom: 2px solid #bbb;
  padding: 10px 120px 20px 120px;

  background-color: #fff;
  h4 {
  height: 30px!important;
  width: 560px!important;
  border-bottom: 2px solid #888;
  margin-bottom: 10px!important;
  }
  p {
  padding: 10px 0 5px;
  height: 32px;
  margin-right: 15px;
  }
  .pagination {
  padding-top: 20px;
  }
}

.my_event {
  margin: 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888;
  width: 535px;
  p {
   
  }
  a {
  display: inline-block;
  padding-bottom: 2px;
  }
}

.tab_menu {
  width: 800px;
  margin-left: 0px;
  margin-bottom: 30px;
  min-height: 150px;
  padding-left: 0px;
  h4 {
    height: 30px!important;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }

  li {
    display: inline-block;
    width: 120px;
    height: 28px;
    padding: 5px 10px 5px;
    cursor: pointer;
    background-color: #AECD6A;
    border-top-right-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;

    &.selected {
      background-color: #fff;
      color: #AECD6A;
    }
  }
}

.tab_contents {

  background-color: #fff;
  min-height: 270px;

}

.user_comments {
  padding: 10px 120px 20px 120px;
}

.right {
  background-color: #fff;

}

.join_events {
  padding: 10px 45px 20px 135px;
  border-bottom: 2px solid #888;
}

.join_event {
  margin: 15px 0;
  border-bottom: 2px solid #888;
  p {
  margin: 5px 0 0px;
  }
}



.user_comments {
  h4 {
  border-bottom: 2px solid #888;
  width: 560px!important;
  }
}

.user_comment {
  margin: 15px;
  border-bottom: 1px solid #888;
  p {
  margin: 5px 0 0px;
  }
}

.user_erea {
   display: inline-block;
   width: 160px;
}

.user_back {
  height: 35px;
  margin: 0px 0 20px;
}


.user_edit_frame {
  height: 500px;
  width: 600px;
  margin: 30px auto;
  border: 2px solid #BBB;
  border-radius: 3px;
  background-color: #FFFFEE;
  h3 {
  text-align: center;
  color: $blue;
  }
}

.user_edit {
  width: 470px;
  margin: 30px auto;
  .edi_btn {
  width: 466px;
  margin: 15px 0;
  }
}

.my_diaries {
  margin: 0px 0 30px;
  padding: 20px 120px 20px 120px;
  background-color: #FFF;
  .my_diary {
    margin: 0 0 20px;
    border-bottom: 2px solid #888;
    .diary_img {
      width: 400px;
      margin: 10px auto;
    }
  }
}

.my_likes {
  margin-bottom: 20px;
  .my_like {
    margin: 0 0 0px;
    padding: 10px 120px 20px 120px;
    background-color: #FFF;
    border-bottom: 2px solid #bbb;
    h4 {
    width: 560px;
    height: 32px;
    margin-bottom: 25px;
    text-align: center;
    color: #ff6347;
    background-color: #FFFF99;
    padding: 5px 0;
    }
  .my_like_thing {
    margin: 0px 0 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #888;
    display: -webkit-flex;
    display: flex;
    .my_like_img {
      margin: 0 20px 0 10px;
      img {
        border-radius: 5px;
      }
    }
    .under_line {
      margin-bottom: 10px;
    }
  }
  }
}

// 新規登録
.sns_new {
  border-radius: 5px;
  height: 36px;
  text-align: center;
  width: 250px;
  margin-bottom: 5px;

  a {
    color: white;
    display: inline-block;
    height: 36px;
    width: 250px;
    padding: 6px 0;
    font-weight: bold;
  }

}
.fb {
    background-color: #4267b2;

  &:hover {
  background-color: lighten(#4267b2, 15%);
  }
  }

.google {
  background: #dd4b39;
  &:hover {
  background-color: lighten(#dd4b39, 15%);
  }
}

.twitter {
  background: #55acee;
  &:hover {
  background-color: lighten(#55acee, 15%);
  }
}

.terms_agree {
 color: #666666;
 border-bottom: 2px solid #666666; 
}