// 変数
$accent: #57C3E9;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;
$blue: #0066FF;
$orange: #ff962d;
$purple: #660099;

// ユーザー
// マイページ
.user_show {
  width: 96%;
  margin: 0 auto;
  h2 {
  color: #ff7f00;
  width: 100%;
  word-wrap: break-word;
  }
}

.profile {
  margin: 10px 0 20px;
  min-height: 130px;
  background-color: #fff;
  border: 2px solid #888;
    padding: 12px 8px;
    overflow: scroll;
    clear: both;
  .pro_img {
    float: left;
    width: 20%;
    margin-right: 2%;
    img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    }
  }
  .pro_txt {
    float: left;
    width: 74%;

    p {
    border-bottom: 1px solid #888;
    font-size: 16px;
    word-wrap: break-word;
    .data {
      width: 100px;
      display: inline-box;
    }
    }
  }
}

.events .data {
  color: $blue;
}

.events {
  .midle {
  height: 25px;
  margin: 10px 0 0px;
  }
}


.pagination {
  padding-top: 10px;
}

.edit {
  float: right;
  clear: both;
  color: #660099;
}

.user_show {
  h2 {
    margin-bottom: 10px;
    font-size: 45px;
    width: 100%;
    letter-spacing: -0.05em;
  }
  .midle {
  font-size: 18px;
  width: 100%;
  word-wrap: break-word;
  }
  h3 {
  color: #fff;
  font-size: 22px;
  padding: 4px 0 0 0px;
  text-align: center;
  background-color: #33CC66;
  height: 40px;
  }
  h4 {
  color: #0066FF;
  }
  .under_line {
  display: inline-block;
  width: 100%;
  height: 23px;
  margin-bottom: 15px;
  }
  p {
  font-size: 14px;

  }
}

.my_events {
  width: 100%;
  margin: 0px 0px 0px;
  border-bottom: 2px solid #bbb;
  padding: 10px 1.5%;
  background-color: #fff;
  h4 {
  height: 30px!important;
  width: 100%!important;
  border-bottom: 2px solid #888;
  margin-bottom: 10px!important;
  }
  p {
  padding: 0px 0px;
  height: 30px;
  margin-right: 0px;
  }
  .pagination {
  padding-top: 20px;
  }
}

.my_event {
  margin: 0 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888;
  width: 100%;
  p {
  width: 100%;
  text-align: center;
  }
  a {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 14px;

  }
}

.tab_menu {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 30px;
  min-height: 150px;
  padding-left: 0px;
  h4 {
    height: 30px!important;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }

  li {
    display: inline-block;
    width: 120px;
    height: 28px;
    padding: 5px 10px 5px;
    cursor: pointer;
    background-color: #AECD6A;
    border-top-right-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;

    &.selected {
      background-color: #fff;
      color: #AECD6A;
    }
  }
}

.tab_contents {

  background-color: #fff;
  min-height: 270px;

}

.user_comments {
  padding: 10px 10px 20px;
}

.right {
  background-color: #fff;

}

.join_events {
  padding: 10px 5px 20px 35px;
  border-bottom: 2px solid #888;
}

.join_event {
  margin: 15px 0;
  border-bottom: 2px solid #888;
  p {
  margin: 5px 0 0px;
  }
}



.user_comments {
  h4 {
  border-bottom: 2px solid #888;
  width: 100%!important;
  }
}

.user_comment {
  margin: 10px 0;
  border-bottom: 1px solid #888;
  p {
  margin: 5px 0 0px;
  }
}

.user_erea {
   padding-top: 10px;
   display: inline-block;
   width: 40%;
}

.user_back {
  height: 35px;
  margin: 0px 0 20px;
}


.user_edit_frame {
  height: 570px;
  width: 98%;
  margin: 30px auto;
  border: 2px solid #BBB;
  border-radius: 3px;
  background-color: #FFFFEE;
  h3 {
  text-align: center;
  color: $blue;
  }
}

.user_edit {
  width: 96%;
  margin: 30px auto;
  .edi_btn {
  width: 100%;
  margin: 15px 0;
  }
}

.my_diaries {
  margin: 0px 0 30px;
  padding: 20px 2%;
  background-color: #FFF;
  .my_diary {
    margin: 0 0 20px;
    border-bottom: 2px solid #888;
    .diary_img {
      width: 100%;
      height: 100%;
      margin: 10px auto;
    }
  }
}

.my_likes {
  margin-bottom: 20px;
  .my_like {
    margin: 0 0 0px;
    padding: 10px 2% 20px;
    background-color: #FFF;
    border-bottom: 2px solid #bbb;
    h4 {
    width: 100%;
    height: 32px;
    margin-bottom: 25px;
    text-align: center;
    color: #ff6347;
    background-color: #FFFF99;
    padding: 5px 0;
    }
  .my_like_thing {
    margin: 0px 0 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #888;
    display: -webkit-flex;
    display: flex;
    .my_like_img {
      width: 20%;
      height: 20%;
      margin: 0 4% 0 2%;
      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }
    .under_line {
      margin-bottom: 10px;
    }
  }
  }
}
.my_like {
  .my_like_thing {
    .my_like_text {
      width: 70%;
    }
  }
}

// サインアップ・サインイン
.sign {
  width: 98%;
  margin: 0 auto;
}

#sign {
  padding: 20px 20px 25px;
  width: 98%;
  margin: 5px auto;
  min-height: 350px;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: #FFF;
  .field {
  width: 100%;
  margin: 0 auto;
  }
  h2 {
  margin: 10px 0 15px;
  text-align: center;
  font-weight: bald;
  font-size: 20px;
  color: #666666;
  }
  p {
  color: #666666;
  padding: 10px 0 5px;
  font-size: 15px;
  }
  form {
  width: 100%;
  margin: 10px auto;
  
  }
  input,textarea {
    background-color: #FFFFEE;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  input[type="submit"] {
    margin: 15px 0 15px;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 25px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
  .small {
    color: #666;
  }
}


#pass {
  padding: 30px 30px 35px;
  width: 98%;
  margin: 50px auto;
  min-height: 230px;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: #FFF;
  h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bald;
  font-size: 20px;
  color: #666666;
  }
  p {
  color: #666666;
  padding: 20px 0 10px;
  }
  form {
  width: 100%;
  margin: 20px auto;
  
  }
  input,textarea {
    background-color: #FFFFEE;
    margin: 10px 0 0px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
  }
  input[type="submit"] {
    margin: 30px 0 10px;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 20px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}


.check {
  white-space: nowrap;
  display: inline;
}

.check_box {
width: 10px;
display: inline;
}

.sns {
  margin-bottom: 15px;
}

.sns_news {
  width: 100%;
  margin: 0 auto;
  p {
  padding: 5px 0 20px!important;
  border-bottom: 1px solid #666;
  }
}

.sns_new {
  border-radius: 5px;
  height: 36px;
  text-align: center;
  width: 96%;
  margin: 0 auto 10px;

  a {
    color: white;
    display: inline-block;
    height: 36px;
    width: 100%;
    padding: 6px 0;
    font-weight: bold;
  }
}

.mail_new {
  margin-top: 25px;
}
.fb {
    background-color: #4267b2;

  &:hover {
  background-color: lighten(#4267b2, 15%);
  }
  }

.google {
  background: #dd4b39;
  &:hover {
  background-color: lighten(#dd4b39, 15%);
  }
}

.twitter {
  background: #55acee;
  &:hover {
  background-color: lighten(#55acee, 15%);
  }
}

.terms_agree {
 color: #666666;
 border-bottom: 2px solid #666666;
}