<p><%= @resource.email %></p>


<p>BabyTennis運営です。</p>

<p>パスワード再設定用のメールをお送りしました。<br>
以下のリンクをクリックしてパスワードの再設定用をしてください</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに心当たりがない場合は、お手数ですが運営までご連絡ください</p>
<p>リンクをクリックして新しいパスワードを設定しない限り、パスワードは変更になりません。</p>

<p>BabyTennis運営</p>
